.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    color: $primary-color !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// customScrollbar
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: $primary !important;
	width: 12px !important;
	border-radius: 0!important;
	opacity: 1 !important;
	margin: 0 !important;

	&:hover {
		background-color: $primary !important;
	}
}

.mCSB_scrollTools .mCSB_draggerRail {
	background-color: $dark-color !important;
	width: 12px !important;
	border-radius: 0 !important;
	margin: 0 !important;
}

// lightSLider
#imageGallery {
    
    li {
        // padding-right: 10px;
    }

    img {
        width: 100%;
        cursor: pointer;
    }
}

.lSSlideOuter .lSPager.lSGallery {
    display: none !important;
}

.lSAction > a {
    background-image: url("../../resources/images/controls_edit.png") !important;
    opacity: 1 !important;
}

// fullpage nav right
#fp-nav ul li a span, .fp-slidesNav ul li a span, #fp-nav ul li a.active span {
    height: 15px !important;
    width: 15px !important;
}

#fp-nav ul li a.active span {
    background: $primary !important;
    margin: 1px !important;
}

#fp-nav ul li {
    height: 23px !important;
}

#fp-nav ul li:hover a span {
    margin: 0 !important;
}

// nicescrollRail
div#ascrail2000 {
    z-index: 3001 !important;

}

div#ascrail2000 > div {
    width: 7px !important;
    background: rgba(0, 0, 0, 0.498039) !important;
}