.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.wp-caption .wp-caption-text {
	text-align: center;
	font-size: 14px;
}

#nav_header .nav-item.active .nav-link,
#navbar-header .wr-megamenu-container .preview-text p a {
	color: #6e266f;
}

#navbar-header .menu-item:last-child,
.menu-item-25 {
	background: #fdbe3c;
}

#navbar-header .menu-item:last-child a,
.menu-item-25 .nav-link {
	font-family: "delicious", Arial, Helvetica, sans-serif;
}

button.joe_btn {
	border: none;
}

#nav_header ul li a {
	padding: 1rem;
}

#navbar-header .wr-megamenu-container ul.wr-mega-menu {
	width: auto;
}

.wr-element-container .preview-text {
	margin-top: 20px;
	/*text-align: center;*/
}

#navbar-header .wr-megamenu-container {
	background-color: transparent !important;
}

#navbar-header .wr-megamenu-container .preview-text p a {
	text-transform: lowercase;
}

#navbar-header .wr-element-container.wr-element-megamenu_image img {
	width: 135px;
	display: block;
	margin: 0 auto;
}

#navbar-header .wr-element-container.wr-element-megamenu_image .image_caption {
	font-size: 14px;
	text-align: center;
}

#navbar-header .wr-megamenu-inner {
	min-width: 750px;
	left: -50% !important;
	width: auto !important;
	padding: 10px;
	padding: .425rem !important;
}

#navbar-header .wr-element-container.wr-element-submenu .caption {
	padding: 10px 0;
	border-bottom: 1px solid #fdbe3c;
	margin-left: 0 !important;
	font-weight: 300;
	font-size: 14px;
}

#about_us .wrapper {
	padding-top: 10rem;
}

footer .wrapper {
	padding-top: 5rem;
}

.nf-form-fields-required {
	display: none;
}

.page .page-content h3 {
	font-family: "gothic", Arial, Helvetica, sans-serif;
	margin-bottom: 0;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
	background: #fdbe3c;
	margin-top: 20px;
	width: auto;
	padding: 15px 12px 10px;
	display: inline-block;
	position: relative;
}

.page .page-content h3:before {
	-webkit-backface-visibility: hidden;
	-webkit-transform-origin: 100% 0;
	-webkit-transform: skewY(3.5deg);
	background: inherit;
	background: #fdbe3c;
	content: '';
	display: block;
	height: 50%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: 100% 0;
	transform: skewY(3.5deg);
	/*z-index: -1;*/
}
.page .page-content h2 {
	color: #6e266f;
}

.about_box {
	padding-bottom: 90px;
}

#navbar-header .landing-menu_92 .wr-mega-menu > li:hover > a, .landing-menu_92 .wr-mega-menu > li.focus > a {
	background: transparent !important;
}

input.btn {
	display: inline-block;
	width: auto;
}