// ---about---
.r-p-bg {
	padding-top: 25px;
    padding-bottom: 20px;
    background-image: url("../../resources/images/rolling-pin.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 350px;
}

.b-img {
	padding: 0;
    list-style: none;

    li {
    	display: inline-block;
    	margin-right: 50px;
		margin-bottom: 30px;
    }

    li:nth-child(2) {
    	margin-bottom: 0;
    }
}

// ---courses---
#h-courses {
	background-image: url("../../resources/images/course-bg.png");
    background-size: contain;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
    background-attachment: fixed;

    .courses-features {
	    padding: 0;
	    list-style: none;

	    li {
		    display: inline-block;
		    width: 33%;
		}
	}
}

// ---schedule---
#h-schedule {
	
}