@media only screen and (max-width: 768px) {
    .b-img {

        li {
            margin-right: 0;
        }
    }

    .nav-main, header.sticky {
		display: none;
	}

    .bg-white .bx-tab {
        min-height: 0;
    }
}

@media only screen and (min-width: 769px) {
	.nav-collapse {
    	display: none;
    }
}

@media only screen and (max-width: 1090px) {
    header .nav-main ul li {
        margin-right: 0rem;
    }
}