.section {
	min-height: 100vh;
	background-size: cover;
	&-special {
		h3 {
			@extend .r-p-bg;
			@extend .m-b-2;
			color: white;
			clear: both;
			+ p {
				margin-bottom: 70px;
			}
		}
	}
	&-jumbotron {
		h1 {
			font-family: $primary-font-family;
		}
	}
}