@media only screen and (max-width: 768px) {
    .b-img {

        li {
            margin-right: 0;
        }
    }

    .nav-main, header.sticky {
		display: none;
	}
}

@media only screen and (min-width: 769px) {
	.nav-collapse {
    	display: none;
    }
}